body {
	background-color: #FFF09E;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#banner {
	margin-left: auto;
	margin-right: auto;
	background-color: #FF5252;
	border: 1px solid;
	border-color: #FF5252;
	height: 100px;
	width: 85%;
	padding: 10px;
	height: 100px;
}

#menu {
	margin-left: auto;
	margin-right: auto;
	background-color: #FF5252;
	border: 1px solid;
	border-color: #FF5252;
	height: 25px;
	width: 85%;
	padding: 10px;
	height: 25px;
}

table {
	width: 100%;
	font-weight: bold;
}

td {
	width: 25%;
	height: 100%;
	text-align: center;
	border: 3px outset;
	border-color: #f89236;
	text-align: center;
	text-align: center;
}

#main {
	background-color: #FFFADB;
	border: 1px solid;
	border-color: #C4A700;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	padding: 10px;
	margin-left: auto;
}

#pizzaObject {
	border: 1px solid;
	border-radius: 5px;
	border-color: #fdfcf4;
	float: left;
	margin: 10px;
}

a:link {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #ffff77;
	text-decoration: none;
}

a:active {
	color: #ffffff;
	text-decoration: none;
}