body {
	background-color: #FFF09E;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.banner {
	margin-left: auto;
	margin-right: auto;
	background-color: #FF5252;
	border: 1px solid;
	border-color: #FF5252;
	height: 125px;
	width: 80%;
	padding: 10px;
	overflow: hidden;
	position: relative;
}

p {
	font-size: 12px;
	margin: 2px;
	padding: 5px;
}

h4 {
	font-size: 16px;
	margin: 2px;
}

h6 {
	font-size: 14px;
	margin: 2px;
}

form {
	margin: 2px;
}

img {
	border: 1px solid #ffcfb9;
}

#lologo {
	border: none;
	float: right;
}

h1 {
	color: #ffff82;
	float: left;
	padding: 1px;
	margin: 1px;
	text-shadow: 2px 2px #400040;
}

.menu {
	float: right;
	margin-left: auto;
	margin-right: auto;
	background-color: #FF5252;
	border: 1px solid;
	border-color: #FF5252;
	height: 20px;
	width: 30%;
	padding: 10px;
	overflow: hidden;
	margin-left: auto;
	position: absolute;
	bottom: 0px;
}

table {
	width: 100%;
	font-weight: bold;
	padding: 0px;
}

td {
	width: 25%;
	height: 100%;
	text-align: center;
	/* 	border: 3px outset; */
	border-color: #f89236;
	text-align: center;
	text-align: center;
}

.main {
	background-color: #FFFADB;
	border: 1px solid;
	border-color: #C4A700;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding: 10px;
	margin-left: auto;
	overflow: hidden
}

#pizzaObject {
	border: 1px solid;
	border-radius: 5px;
	border-color: #fdfcf4;
	float: left;
	margin: 10px;
	overflow: hidden;
}

a:link {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #ffff77;
	text-decoration: none;
}

a:active {
	color: #ffffff;
	text-decoration: none;
}

.pizzaItem {
	float: left;
	padding: 15px;
	margin: 10px;
	box-shadow: 2px 2px 2px #888888;
	border-radius: 3px;
	/* 	border: 1px solid #ffa4a4; */
	padding: 5px;
	background-color: #fff2a8;
	overflow: hidden;
}

.news {
	margin: 15px;
	/* 	border: 1px solid #ffa4a4; */
	background-color: #FFF09E;
	overflow: hidden;
}

.newsTitle {
	background-color: #ffeb77;
	border-bottom: 1px solid #f4d000;
	padding: 3px;
	overflow: hidden;
}

#newsContent {
	padding: 10px;
	overflow: hidden;
}

.postMessage {
	background-color: #fff2a8;
	padding: 20px;
	margin: 10px;
	overflow: hidden;
}

.customerMsg {
	border: 1px solid #ffa4a4;
	background-color: #fff2a8;
	padding: 10px;
	margin: 20px;
	overflow: hidden;
	background-color: #fff2a8;
}

.firmDetails {
	padding: 15px;
	margin: 15px;
	background-color: #fff;
}

#mailLink {
	text-decoration: underline;
	color: #800000;
}

.loginForm {
	width: 300px;
	background-color: #fff2a8;
	float: left;
	border: 1px solid #ffa8a8;
	padding: 10px;
	margin: 10px;
	border: 1px solid #ff0000;
	background-color: #fff2a8;
}

#loginUser {
	width: 90%;
	margin: 5px;
}

#loginPw {
	width: 90%;
	margin: 5px;
}

.login {
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	float: right;
	position: absolute;
	right: 20px;
	color: #ffffff;
}

.proceedLink {
	margin: 15px;
	font-size: 12px;
}

.proceedLink:link {
	color: #ff0000;
	text-decoration: none;
}

.proceedLink:visited {
	color: #ff0000;
	text-decoration: none;
}

.proceedLink:hover {
	color: #ff8040;
	text-decoration: underline;
}

.proceedLink:active {
	color: #ff8040;
	text-decoration: none;
}

.orderList {
	float: right;
	background-color: #FFF09E;
	width: 300px;
	margin: 5px;
	padding: 10px;
	width: 300px;
	background-color: #FFF09E;
}

.orderListTable {
	font-size: 12px;
	font-weight: normal;
}

table.orderListTable td {
	width: 50%;
}

.total {
	text-align: center;
	border-top: 2px solid #000;
}

.remove {
	width: 10px;
}

.click-me {
	-moz-appearance: button;
	-ms-appearance: button;
	-o-appearance: button;
	-webkit-appearance: button;
	appearance: button;
	text-decoration: none;
	color: #000;
	padding: 0.2em 0.4em;
}